<div class='container'>
  <div class='row g-3'>
    <div class='col-md-6 offset-md-3'>
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
      <div class="form-group ">
        <%= f.label :name,"ジャンル名",class: "h4 text-success" %>
        <%= f.text_field :name, class: 'form-control border-success' %>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-success rounded-pill">変更を保存</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
