<h2>SAKESAGASHIはお酒専門のレビューサイト。<br>
好みのお酒を探すため、お酒の感想をシェアするため、<br>
使ってみませんか？</h2>
<h6>甘いお酒が好き！そんな時には甘さの数値を見て探したり。<br>
このビールには何が合うの？そんな時にはレビューを見ておすすめおつまみを見つけたり。<br>
そんなことができるサイトです。</h6>

<h4>検索は<%= link_to 'こちら', user_items_search_path %>から</h4>

<p>レビューの投稿には新規登録が必要です。</p>

