<div class = 'container'>
  <div class = 'row offset-3'><%= image_tag asset_path('header.png'), size: "500x250" %></div>
  <!--<div class = 'row offset-3'><%= image_tag 'header.png', size: "500x250" %></div>-->
    <h2 class ='text-center'>SAKESAGASHIはお酒専門のレビューサイト。<br>
        好みのお酒を探すため、お酒の感想をシェアするため、<br>
        使ってみませんか？</h2>
  </div>


  <div class = 'row mt-5'>
    <div class = 'col'>
      <p class = 'text-center text-primary'><strong><レビューをするとき></strong></p>
      <ul class = 'offset-2'>
        <li>星の総合評価をつけましょう。<br>
        （味や価格など、総合評価を入れてください）</li>
        <li>キレ、コク、酸味、甘味、苦味をそれぞれ0から5の数値で入れましょう。</li>
        <li>感想を500字以内で書きましょう。</li>
        <li>おすすめおつまみ・こんな時におすすめ！の欄もぜひ書いてみてください。<br>
            ※必須項目ではありません</li>
      </ul>
    </div>
    <div class = 'col'>
      <p class = 'offset-3 text-primary'><strong><レビューを見るとき></strong></p>
      <ul>
        <li>探したいお酒を検索しましょう。<br>
        商品名、ジャンル、ランキングからお酒を探すことができます。</li>
        <li>総合評価、味を見てみましょう。レビューの平均値が出ています。</li>
        <li>「詳しく見る」を押すと、レビューの詳細を見ることができます。</li>
        <li>レビューが役に立った、共感した時はぜひコメントを入れてみましょう。</li>
      </ul>
    </div>
  </div>

  <div class = 'row offset-3 mt-3'>
    <p class = 'text-center text-danger'>
      ※レビュー・コメントの投稿には新規登録またはログイン(ゲストログイン可)が必要です。
    </p>
  </div>


</div>

